/*Google font*/
body {
	font-family: 'Open Sans', sans-serif;
}

/*CSS Reset Rule*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
/*shorthand property/shortcut all padding elements 0.8*/
	padding: 2rem;
/*long cut*/
/*	padding-top: 0.8;
	padding-right: 0.8 ;
	padding-bottom: 0.8 ;
	padding-left: 0.8 ;*/
	margin: 1rem;
	border: 2px solid dimgrey;
}

.nav, .nav-logo {
	margin: 0.5rem;
	display: inline;
}

#intro {
	padding-top: 10%;
	padding-bottom: 10%;
	padding-right: 1rem;
	scroll-padding-left: 1rem;
	text-align: center;

}

.header {
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}
#succeed-info h2 {
	margin-bottom: 1rem;
	text-align: center;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

.card {
	width: 30%;
	display: inline-block;
	vertical-align: top;
	margin-left: 1rem;
	margin-right: 1rem;
}

footer {
	padding: 1.5rem;
}

footer span {
	margin-right: 0.5rem;
	margin-left: 0.5rem;

}

/*Margin vs Padding*/
/*Margin is best used when creating space between elements*/
/*Padding is best used when creating space between element's border and its content*/




