/*Google font*/
body {
	font-family: 'Open Sans', sans-serif;
}

/*CSS Reset Rule*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*start here*/
footer {
	padding: 1.5rem;
}

footer span {
	margin-right: 0.5rem;
	margin-left: 0.5rem;

}

#pre-footer {
	padding: 1rem;
	color: white;
	background-color: #002540;
}

.one, .two, .three, .four {
	width: 20%;
	display: inline-block;
	vertical-align: top;
	margin-left: 1rem;
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
}

.three {
	padding-top: 3rem;
}

body {
	margin: 1rem;
	border: 2px solid black;
}

.header {
	text-align: center;
	margin-bottom: 7rem;
	margin-top: 1rem;
}

.card {
	margin-left: 10rem;
	margin-right: 10rem;
	text-align: left;

}

h3{
	padding-top: 1rem;
	padding-bottom: 2rem;
}

.five, .six, .seven {
	padding-bottom: 4rem;
	}

.seven {
	margin-bottom: 5rem;
	border-bottom: 4rem;
}

/*Margin vs Padding*/
/*Margin is best used when creating space between elements*/
/*Padding is best used when creating space between element's border and its content*/




