/*CSS SYNTAX*/
/*A CSS rule-set consist of a selector and a declaration block*/
/*Selector determines which element will the styling be applied to*/
/*Type Selector - targets element with the specified type/tag name*/
h1 {
	/*Declaration block*/
	/*color - property (The selected styling attribute to be modified in a given selector)*/
	/*yellow - value (The modified value of the selected styling attribute)*/
	color: green;
	text-align: center;
	font-size: 5rem;
}
body {
	background-color: slateblue;
}

nav {
	background-color: whitesmoke;
}
/*selector:hover psuedo class*/
a:hover {
	background-color: seagreen;
}

div {
	display: inline-block;
	float: center;
}

section {
	height: 100vh;
	text-align: center;
}

/*Universal Selector (lowest priority) - targets all the elements*/
*{
	font-family: "Courier New", monospace;
	font-size: 20px;
}

/*ID Selector (highest priority)*/
#zuitt-motto {
	letter-spacing: 5px;
}

h3{
	letter-spacing: 25px !important;
}

h2 {
	font-size: 1.5rem;
}

ol {
	list-style: none;
	color: black !important;
}

/*Class Selector - targets elements according to its class attribute*/
.offering-item {
	text-transform: uppercase;
}

/*Attribute Selector - target elements with a specified element attribute: used to target elements with a certain attribute*/
/*tagname[attribute]*/
input[required] {
	border-width: 2px;
	border-style: solid;
	border-color: magenta;
	width: 100%;
}

/*!important - overrides specificity rule, highest priority of all location and selector type*/

/*Specifity Rule*/
/*
The following order prioritizes style from highest to lowest priority (according to selector)
1. ID Selector
2. Class Selector
3. Attribute Selector
4. Type Selector
5. Universal Selector
*/
/*Specifity Rule*/
/*
The following order prioritizes style from highest to lowest priority (according to selector)
1. Inline Styling
2. Internal Styling
3. External Styling
*/

/*CSS Combinators*/
/*Adjacent Sibling Selector (+) - targets the element immediately following another element, which must be its sibling and located right after each other in the HTML Structure */
/*selector + selector*/
h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 80%;
}

/*Descendant Selector (Whitespace) - targets the element that is a descendant of another element*/
/*selector selector*/
#bootcamp-learning-list li {
	color: #4169e1;
}

/*General Sibling Selector (~) - targets all element that follow another element and share the same parent*/
/*selector ~ selector*/
h2 ~ a, a, a {
	text-decoration: none;
}

/*Child Selector (>) - targets all elements that are the children of a specified element*/
/*selector > selector*/
body > section > form > label {
	color: rgb(100, 200, 50);
}

form {
	text-align: center;
	border: 3px solid;
	width: 25vw;
	position: relative;
	left: 37.25%;

}

button	{
	background-color: green;
	border-radius: 40%;
}


