/*GOOGLE FONT*/
body {
	font-family: 'Open Sans', sans-serif;
}

/*CSS RESET*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.nav, .nav-logo, .list {
	display: inline;
	margin: 10px;
	padding: 10px;
	float: inline-end;


}

nav {
	position: sticky;
	top: 10px;
	padding: 0.8rem;
	padding-left: 20px;
	padding-right: 130px;
	margin-top: 2rem;
	border-top: 1px solid gray;
	background-color: white;
}

.nav-logo {
	padding-right: 25rem;
	border-right: 25rem;
	margin-right: 25rem;
	margin-bottom: 30rem;
}

.tuitt-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 100px;
	font-size: 0.8rem;
	padding: 0.8rem;
	border: none;
}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	min-height: 50vh;
}

.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
	width: inherit;
	height: 50vh;
}

.title {
	color: white;
	text-align: right;
	font-size: 3em;
	margin-top: 5px;
	margin-left: 60rem;
	margin-right: 15rem;
}

.subtitle {
	color: white;
	text-align: right;
	font-size: 1.8em;
	margin-left: 66rem;
	margin-right: 15rem;
}

.apply-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 100px;
	font-size: 1rem;
	padding: 1.5rem;
	float: right;
	margin-right: 15rem;
	display: inline-block;
	border: none;
}

.title-2 {
	text-align: center;
	margin-top: 5rem;
	margin-bottom: 8rem;
	font-family: zilla slab;
	font-size: 2rem;
}

.intro-description {
	font-family: zilla slab;
	font-size: 1.5rem;
	margin-left: 18rem;
	margin-right: 18rem;
	margin-bottom: 10rem;
}

.title-2 {
	text-align: center;
	margin-top: 3rem;
	margin-bottom: 3.5rem;
	font-family: zilla slab;
	font-size: 2rem;
}

.pre-footer {
	background-color: #f7fbfb;
	padding-bottom: 10rem;
}

.prefooter-description {
	margin-bottom: 1rem;
	margin-right: 29rem;
	margin-left: 29rem;
	font-family: zilla slab;
	font-size: 1rem;
	text-align: center;
}

.book-button {
	color: white;
	font-weight: bold;
	background-color: #336589;
	border-radius: 200px;
	font-size: 1rem;
	border: none;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 57rem;
}

.bookend {
	margin-bottom: 10rem;
}

.footer1 {
	padding: 1rem;
	margin-top: 1rem;
}

.span2 {
	text-align: center;
}

.span1 {
	padding-right: 3rem;
}

