#div-1 {
	background-color: green;
	display: inline;
/*display default is block(walang katabi)*/
/*we changed display from block(default to inline)*/
}

#span-1 {
	background-color: purple;
	width: 250px; 
	height: 250px;
	display: inline-block;
/*the width and height of our span will not change it should be inline-block*/
/*display default is inline(me katabi)*/
}

#span-2 {
	background-color: pink;
	display: block;
/*an inline element can be displayed as block*/
}

#div-2 {
	background-color: red;
/*	display: none; (this will make it disappear)*/
}

#img {
	width: 250px;
	height: 250px;
/*display default is inline-block(pwededng e resize)*/
}

#p-1 {
	background-color: #87CEFA;
/*hex code*/
}

#p-2 {
	background-color: rgb(255, 105, 108);
/*color value - rgb*/
}

#p-3 {
	background-color: yellow;
	width: 40%;
}

.sample {
	display: inline-block;
	width: 30%;
	border: 1px solid black;
	text-align: center;
}

/*Float property*/
.img-float {
	width: 250px;
	height: 250px;
	float: right;
/*default is inherit. values:left, right*/
}

.box {
	background-color: red;
	border: 1px solid black;
	margin: 5px;
}

.fifty-percent {
	width: 50%;
}

.one-hundred-pixels {
	width: 100px;
}

.parent {
	width: 135px;
	border: 2px solid navy;
	font-size: 30px;
}

.fifty-vw {
	width: 50vw;
}

.twenty-five-vh {
	height: 25vh;
}

/*default font size 16px*/
.one-rem {
	font-size: 1rem;
}

.one-em {
	font-size: 1em
}

.two-rem {
	font-size: 2rem
}

.two-em {
	font-size: 2em
}

.two-hundred-percent {
	font-size: 200%;
}

/*CSS Background Properties*/

.background {
	min-height: 100vh;
/*	min-height: 20rem;*/
	background-color: gray;
	background-image: url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg);
	background-repeat: no-repeat;
/*	background-size: 50%;*/
	background-size: 100%;
/* auto, 50%, 500px, 200% */
	background-position: center top;
/*	background-position: center center;*/
	background-attachment: fixed;

}

.bg-title {
	color: white;
	text-align: center;
	font-size: 5em;
	margin: 0;
	line-height: 40rem;
}

.container-bg {
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 100vh;
}
/*CSS Positioning*/
.parent-element {
	background-color: skyblue;
	padding: 50px 10px;
	position: relative;
	height: 800px;
}

.child-one {
	background-color: gray;
	padding: 10px;
}

.child-two {
	background-color: yellow;
	padding: 10px;
/*	position: static;*/
/*	position: relative;*/
/*	position: absolute;*/
/*	position: fixed;*/
	position: sticky;
/*	left: 10px;*/
/*	bottom: 10px;*/
	top: 10px;

}

.child-three {
	background-color: gray;
	padding: 10px;
}

html {
	height: 800vh;
}

/*Z indexs*/
/*the higher the value mas nauuna*/
.container {
	position: relative;
}

.black-box {
	position: relative;
	z-index: 1;
	border: 2px solid black;
	height: 100px;
	margin: 30px;
}

.gray-box {
	position: absolute;
	z-index: 3;
	background: lightgrey;
	border: 2px solid black;
	height: 60px;
	width: 70%;
	left: 50px;
	top: 50px;
}
.green-box {
	position: absolute;
	z-index: 2;
	background: lightgreen;
	width: 35%;
	left: 270px;
	top: -15px;
	height: 100px;
}


