* {
	font-family: "cursive;", monospace;
	font-size: 15px;
}

h1 {
	color: darkred;
}

#learn {
	text-transform: uppercase;
}

.languages {
	background: gray;
}

li[for] {
	border-width: 2px;
	border-style: solid;
}

img + ul {
	list-style: decimal;
}

#others img {
	height: 150px;
	width: 150px;
	border-radius: 80%;
}

h4 ~ p {
	text-align: center;
}

body > section > ul > li {
	letter-spacing: 5px;
}